{% extends "core/base.html" %}

{% block content %}
    <h2>Buscar Recetas</h2>
    <form method="get">
        <input type="text" name="q" placeholder="Buscar por título o destino...">
        <button type="submit">Buscar</button>
    </form>

    <h2>Recetas del mundo</h2>
    <ul>
    {% for receta in recetas %}
        <li>
            <a href="{% url 'detalle_receta' receta.id %}">
                <strong>{{ receta.titulo }}</strong>
            </a>
            — <a href="{% url 'detalle_destino' receta.destino.id %}">{{ receta.destino.nombre }}</a>
(<a href="{% url 'detalle_autor' receta.autor.id %}">{{ receta.autor.nombre }}</a>)
            <p>{{ receta.descripcion|truncatewords:20 }}</p>
            <p><strong>Ingredientes:</strong> {{ receta.ingredientes|truncatewords:10 }}</p>
            <p><strong>Pasos:</strong> {{ receta.pasos|truncatewords:10 }}</p>
            <p><small>Publicado el {{ receta.fecha_publicacion|date:"d M Y" }}</small></p>
        </li>
    {% empty %}
        <li>No hay recetas aún.</li>
    {% endfor %}
</ul>
{% endblock %}